# Notebook inicial en EDA para llamadas 123

In [2]:
#importar librerias de manipulación de datos
import pandas as pd
import os #libreria para entrar al sistema y poner rutas
from pathlib import Path #colocamos from para solo traer la función pathlib de la libreria path

In [3]:
#!pip3 install pandas --> (este comando me sirve cuando no me importa una librería)

In [4]:
Path(".").resolve() #traeme la ruta hasta aquí

WindowsPath('C:/Users/57320/Desktop/eseit/lenguajes big data/BIGDATA_2022B/notebooks')

In [5]:
root_dir = Path(".").resolve().parent #parent es como los .. en la terminal (devuelve la carpeta anterior)
filename = "llamadas123_julio_2022.csv" #creamos variable con el nombre del archivo que queremos extraer

file_path = os.path.join(root_dir, "data", "raw", filename) #me una las palabras dentro con / para crear la ruta de la carpeta
file_path

'C:\\Users\\57320\\Desktop\\eseit\\lenguajes big data\\BIGDATA_2022B\\data\\raw\\llamadas123_julio_2022.csv'

In [6]:
dataframe = pd.read_csv(file_path, sep=";", encoding="latin-1") #sep (por que están separados los datos o columnas, en este caso ;) 
# enonding (identificar caracteres del español especiales como ñ y tildes) y otra coma con n_rows = y la cantidad de filas que quiero ver)
dataframe.head(10) #vemos las primeras 10 filas de la tabla o dataframe

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,Aï¿½os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,Aï¿½os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,Aï¿½os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bolï¿½var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaquï¿½n,33,Aï¿½os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
5,CRU-00278376-22,2022-07-01 00:56:11,1,Usaquï¿½n,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Evento Respiratorio,ALTA,0000-00-00 00:00:00
6,CRU-00278380-22,2022-07-01 01:09:14,17,La Candelaria,57,Aï¿½os,FEMENINO,Norte,Sï¿½ntomas Gastrointestinales,CRITICA,2022-07-01 04:17:41
7,CRU-00278379-22,2022-07-01 01:09:27,19,Ciudad Bolï¿½var,65,Aï¿½os,FEMENINO,Sur,Enfermo,ALTA,2022-07-01 05:07:00
8,CRU-00278386-22,2022-07-01 01:11:07,15,Antonio Nariï¿½o,14,Aï¿½os,MASCULINO,Sur,Convulsiï¿½n,ALTA,2022-07-01 02:37:45
9,CRU-00278383-22,2022-07-01 01:12:00,4,San Cristï¿½bal,83,Aï¿½os,FEMENINO,Sur,Evento Respiratorio,ALTA,0000-00-00 00:00:00

In [7]:
dataframe.shape #me devuelve el #filas y #columnas en forma de tuplas
dataframe.shape[0] #solo me trae el #filas
dataframe.shape[1] #solo me trae el #columnas

11

In [8]:
dataframe.dtypes #me trae todos los datos dentro del dataframe

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [9]:
dataframe["TIPO_INCIDENTE"].value_counts(normalize=True, dropna=True) # primero llamo la columna y luego con value_counts
# miro el número de veces que aparece el registro y normalizado es sacar porcentuajes de un 100% y dropna es para incluir False
# o no incluir True valores nulos

Herido                                    0.255228
Inconsciente / Paro cardiorespiratorio    0.140942
Evento Respiratorio                       0.130525
Convulsiï¿½n                              0.090157
Enfermo                                   0.063730
Trastorno Mental                          0.058062
Dolor Torï¿½cico                          0.054079
Intento de Suicidio                       0.051704
Accidente Cerebro Vascular                0.029950
Sï¿½ntomas Gastrointestinales             0.028878
Caï¿½da de Altura                         0.023899
Patologï¿½a Ginecobstï¿½trica             0.021065
Intoxicaciï¿½n                            0.019916
Amenaza de Suicidio                       0.011337
Acompaï¿½amiento Evento                   0.007813
Violencia Sexual                          0.005285
Maltrato                                  0.002911
Electrocuciï¿½n / rescate                 0.001379
Sangrado Vaginal                          0.001379
Quemaduras                                0.000919
Solicitud de Apoyo                        0.000843
Name: TIPO_INCIDENTE, dtype: float64

In [10]:
dataframe["EDAD"].unique() #Extraer datos únicos de mi dataframe

array(['88', '16', '52', 'SIN_DATO', '33', '57', '65', '14', '83', '35',
       '19', '53', '56', '45', '2', '18', '34', '84', '80', '7', '64',
       '41', '28', '23', '85', '92', '38', '11', '58', '70', '50', '27',
       '67', '54', '87', '24', '90', '99', '49', '91', '21', '62', '59',
       '26', '78', '30', '32', '51', '15', '79', '37', '60', '76', '22',
       '47', '61', '82', '86', '77', '63', '39', '89', '36', '97', '40',
       '75', '13', '25', '73', '69', '72', '68', '44', '31', '74', '81',
       '43', '20', '66', '10', '48', '29', '8', '17', '94', '55', '1',
       '4', '3', '9', '71', '46', '6', '95', '93', '98', '96', '42', '5',
       '12'], dtype=object)

In [11]:
len(dataframe["TIPO_INCIDENTE"].unique()) #que tan largo son los datos únicos de esa columna

21

In [12]:
lista_columnas = dataframe.columns #devuelve una lista con las columnas de mi tabla o dataframe
lista_columnas [5:8] #slicer me muevo con [] dentro de la lista con los valores dentro

Index(['UNIDAD', 'GENERO', 'RED'], dtype='object')

In [17]:
#crear un dictionario vacio
dict_reporte = dict()

for col in lista_columnas:
    lista_unicos = dataframe[col].unique()
    n_unicos = len(lista_unicos) #recuerda que len de caracter es diferente que len de lista
    # len de "hola" es 4 y len de (e,a,d) es 3 
    dict_reporte[col] =n_unicos
print(dict_reporte)

{'NUMERO_INCIDENTE': 12015, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781, 'CODIGO_LOCALIDAD': 20, 'LOCALIDAD': 20, 'EDAD': 100, 'UNIDAD': 6, 'GENERO': 3, 'RED': 5, 'TIPO_INCIDENTE': 21, 'PRIORIDAD': 4, 'RECEPCION': 5235}

In [36]:
df_reporte = pd.DataFrame.from_dict(dict_reporte, orient="index") #creo una tabla desde el diccionario
# creado arriba
df_reporte

                                       0
NUMERO_INCIDENTE                   12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL  12781
CODIGO_LOCALIDAD                      20
LOCALIDAD                             20
EDAD                                 100
UNIDAD                                 6
GENERO                                 3
RED                                    5
TIPO_INCIDENTE                        21
PRIORIDAD                              4
RECEPCION                           5235

In [42]:
df_reporte.rename({0:"Conteo"}, inplace=True, axis=1) #inplace es para reemplazar en la misma tabla
#axis es para que busque el 0 en las filas y 1 en las columnas
df_reporte

                                   Conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
EDAD                                  100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            5235

In [43]:
df_reporte.rename(index={"EDAD":1})

                                   Conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
1                                     100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            5235

In [32]:
df_reporte.reset_index()

                                index  Conteo
0                    NUMERO_INCIDENTE   12015
1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
2                    CODIGO_LOCALIDAD      20
3                           LOCALIDAD      20
4                                EDAD     100
5                              UNIDAD       6
6                              GENERO       3
7                                 RED       5
8                      TIPO_INCIDENTE      21
9                           PRIORIDAD       4
10                          RECEPCION    5235

In [16]:
out_name = "reporte_" + filename 
out_path = os.path.join(root_dir,"data","processed", out_name)
df_reporte.to_csv(out_path)